* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}
/* barra di navigazione */
nav {
  position: absolute;
  right: 0;
  list-style: none;
  position: fixed;
  z-index: 10;
}

ul {
  list-style: none;
  margin: 40px 40px;
  text-decoration:none;
  font-size: 20px;
}

li {
  display: inline-block;
}

a {
  padding: 17px 20px;
  color: black;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-radius:50%;
}

/* /barra di navigazione */

/* struttura del viewport */
section {
  height: 100vh;
  position: relative;
}
#section-red {
  background-color: red;
  color: yellow;
}

#section-green {
  background-color: green;
  color: yellow;
}

#section-yellow {
  background-color: yellow;
  color: green;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 20px;
  text-align: center;
  text-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);

}
.image-shoes{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
/* /struttura del viewport */
